@charset "UTF-8";


/* shorthand background 
  color > image > position > repeat > [size] >attachement
  size precisa ser marcado separadamente
*/



@font-face {
    font-family:"fonte-chique";
    src: url("Seraphine\ DEMO\ VERSION.ttf") format("truetype") ;
}

@font-face {
  font-family:"fontechique2";
  src: url("BravenRegular.ttf") format("truetype");
}

:root {
--cor-1: rgb(230, 187, 243);
--cor-2: #eae2ee;
--cor-3: rgb(0, 0, 0);
--cor-4: #8b5fa3;
--cor-5: rgba(224, 154, 241, 0.726); 
--cor-6: #41085f;

}

*{
  padding: 0px;
  margin: 0px;
}

html, body{
  background-color: var(--cor-2);
  min-height: 100vh;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--cor-4);
  text-align: center;
  margin: 0px;
  padding: -7px;
  width: auto
}

nav > a {
    font-family: "fonte-chique";
    color: var(--cor-1);
    text-decoration: none; 
    margin: 25px;
    padding: 10px;   
}

nav > a:hover{
  text-decoration: none;
  color: var(--cor-6);
  background-color:var(--cor-5);
  border-radius: 15px;  
  transition-duration: 0.2s;
  padding: 10px;
}

.site{
  font-family: "fontechique2";
  font-size: 30px;
  color: var(--cor-1);
  margin: 25px;
  padding: 10px; 
}


section{
 padding-top: 10vh;
 padding-bottom: 10vh;
 line-height: 2em;
 padding-left: 20px;
 font-size: 1vw;
}

section > p {
  padding-bottom: 1em;
  padding: 20px;
  font-family: "fontechique2";
}


section.normal{
  background-color: var(--cor-1);
  color: var(--cor-3);
  height: 300px;
  display: flex;
  justify-content: space-around;
  
}

section > img{
  border-radius: 20px;
  padding: 10px;
  height: 500px;
  
}


section.normal2 > p{
  
  width: 30%;
  
}

section.normal2  {
  display: inline-block;
  height: 800px;
  padding: 10px;
  
}


footer{
  background-color: var(--cor-6);
  color: var(--cor-4);
  text-align: center;
  height: 40px;
  padding-top: 20px;
}